<?xml version="1.0"?>
<!--
/**
* qbo_PayPalPlusMx DI definitions
*
* @category    qbo
* @package     qbo_PayPalPlusMx
* @author      Ivan Weiler & Stjepan Udovičić
* @copyright   qbo (http://www.qbo.tech)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="qbo\PayPalPlusMx\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="qbo_paypalplusmx" xsi:type="const">qbo\PayPalPlusMx\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="qbo_paypalplusmx_config_provider" xsi:type="object">qbo\PayPalPlusMx\Model\IframeConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Result\Page">
        <arguments>
            <argument name="layoutReaderPool" xsi:type="object">pageConfigRenderPool</argument>
            <argument name="generatorPool" xsi:type="object">pageLayoutGeneratorPool</argument>
            <argument name="template" xsi:type="string">qbo_PayPalPlusMx::root.phtml</argument>
        </arguments>
    </type>
    <preference for="Magento\Paypal\Model\Ipn" type="qbo\PayPalPlusMx\Model\Ipn" />
    <preference for="Magento\Paypal\Model\Config" type="qbo\PayPalPlusMx\Model\Config" />
</config>
